.teclado{
    padding: 1rem;

    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,9rem);
    gap: 1rem;

    background-color: rgb(255, 22, 216);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.teclas {
    font-size: 3rem;
    border: 5px solid rgb(153, 7, 104);
    border-radius: 10px;
    background-color: rgb(168, 31, 127);

    display: flex;
    justify-content: center;
    align-items: center;
}

.teclas:hover{
    background-color: rgb(0, 166, 231);

}

.tecla-0{
    grid-column: 1/3;
}